@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

body {
    margin: 0;
    padding: 0;
    background-color: #7ea301;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%),
        radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: screen;
    font-family: 'Josefin Sans',
        sans-serif;
}

.jumbotron {
    height: 100px;
    padding-bottom: 160px;
}


.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background: #f8ecc2;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, .5);
    transition: 1s;


}

.card:hover {
    transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 10px 0 50px rgba(0, 0, 0, .5),
        0 20px 100px rgba(0, 0, 0, .5);
}

.card:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #475b02;
    transform-origin: bottom;
    transform: skew(-45deg);
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #7ea301;
    transform-origin: left;
    transform: skewY(-45deg);

}

.card .imgBox {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    z-index: 1;
    transition: 2.5s cubic-bezier(.15, 1.7, .84, .58);
    text-align: center;
}

.card:hover .imgBox {
    transform: rotateY(-135deg);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    z-index: -1;
    text-align: center;
    /* margin-bottom: 20px; */

}



p {
    margin-top: 20px;
    font-size: x-large;


}


.nav-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.nav-container a {
    display: block;
    text-decoration: none;
    background: #fff;
    color: #e74c3c;
    text-transform: uppercase;
    padding: 15px 0 15px 10px;
    margin: 5px 0;
    width: 150px;
    letter-spacing: 1.5px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    margin-left: -90px;

    transition: 0.5s ease-out;
    font-size: xx-small;

}

.nav-container a span {
    float: right;
    width: 70px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #3498db;
    position: absolute;
    right: 0;
    top: 0;

}



.nav-container a span i {
    font-size: 20px;
}

.nav-container a:hover {
    margin-left: 0;
}


.clear {
    clear: both;
    height: 50px;
}

.footer {
    /* padding-bottom: .5%; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3498db;
    color: black;
    text-align: center;
    z-index: 10;
    opacity: .65;
}

.footer2 {
    /* padding-bottom: 1%; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #3498db; */
    color: black;
    text-align: center;
    z-index: -1;
    opacity: .75;
}

.box-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.single-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 280px;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    margin: 20px;
    /* padding: 20px; */
    transition: 0.3ms;
}

.img-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border: 4px solid #3498db;
    border-radius: 50%;
    margin-bottom: 10px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.single-box:nth-child(1) .img-area {
    background-image: url(img/heart.jpg)
}

.single-box:nth-child(2) .img-area {
    background-image: url(img/SoapRobotAI.jpg)
}

.single-box:nth-child(3) .img-area {
    background-image: url(img/nfl.jpeg)
}

.single-box:nth-child(4) .img-area {
    background-image: url(img/lightning.jpg)
}

.single-box:nth-child(5) .img-area {
    background-image: url(img/clipart20676.png)
}

.single-box:nth-child(6) .img-area {
    background-image: url(img/tts.jpg)
}

.single-box:nth-child(7) .img-area {
    background-image: url(img/icon.jpg)
}

.single-box:nth-child(8) .img-area {
    background-image: url(img/basenji-1.jpg)
}

.single-box:nth-child(9) .img-area {
    background-image: url(img/Beatmaker.png)
}

.single-box:nth-child(10) .img-area {
    background-image: url(img/bin1.png)
}

.header-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    background-color: #fff;
}

.img-text {
    padding-top: 20px;
    font-weight: 600;

}

.img-text p {
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
}

.single-box:hover {
    background: lightskyblue;
    color: #fff;

}

span {
    display: block;
}

.boxes {
    display: block;
    flex-wrap: wrap;
    /* justify-content: space-between; */

    margin-top: 1rem;
}

.boxes div {
    font-size: 1.4rem;
    border: 2px darkgoldenrod solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.4s ease-out;
}

.boxes div:hover {
    padding: 3.5rem 4.5rem;
    background-image: linear-gradient(to right, #3498db 20%, darkgoldenrod 80%);
    color: #000;
}

.boxes div:hover span {
    color: #000;
}

.text-second {
    color: darkgoldenrod;
    text-shadow: 2px 3px 2px #3498db;
    font-weight: 900;
}

#contact {
    text-align: right;
    margin-right: 30px;
}

h5,
h3 {
    color: darkgoldenrod;
    font-weight: 900;
}

.spec {
    padding-top: 55px;
}

.spec2 {
    padding-top: 65px;
}

.lead {
    color: #f8ecc2;
}